@import 'src/scss/colors';

.link {
  align-self: flex-end;
}

.headers {
  grid-template-columns: repeat(6, 200px);
}

.row-link {
  grid-template-columns: repeat(6, 200px);
}

.list-header {
  border-bottom: 1px solid $gray-1;
  padding-bottom: 20px;
}
